
.radio-btn {
  font-size: 22px;
}

.vrednost-calc {
  font-size: 28px;
  appearance: none;
  border: 0px;
  border-bottom: 1px solid #000;
  width: 60%;
  margin-bottom: 1rem;
}
.calculator h1 {
  font-size: 24px;
  margin-top: 1.4rem;
  margin-bottom: .5rem;
}