@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700|IBM+Plex+Serif:400,700&display=swap&subset=cyrillic');

h1, h2, h3, h4, h5, h6 {
  margin-top: .5rem;
  font-family: 'IBM Plex Serif', serif;
  text-transform: none;
  font-weight: 700;
  color: #66CD00;
}
MuiTypography-h6 {
  color: #fff;
}
::before, ::after {
  font-family: 'IBM Plex Serif', serif;
  text-transform: none;
  font-weight: 700;
  color: #66CD00;
}
.hero_head {
  color: #fff;
}
body {
  font-family: 'IBM Plex Sans', sans-serif;

}
p {
  font-size: 1.2rem;
  line-height: 1.4;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 30vh;
}

#hero {
  background-color: #F6F9FC;
  color: #fff;
  position: relative;
  overflow: hidden;
}
@keyframes slidein {
  0% {
    transform: scale(0.2);
    opacity: 0.15;

  }

  30% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.9);
    opacity: .85;
  }
  65% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slidein-right {
  from {
    transform: translateX(200%);
    opacity: 0.85;
  }

  to {
    transform: translateX(50%);
    opacity: 1;
  }
}
#hero::before {
  position: absolute;
  top: -5%;
  left: 5%;
  content: "";
  display: block;
  transform: rotate(30deg);
  background-color: #66CD00;
  height: 800px;
  width: 800px;
  border-radius: 1000px;
  overflow: hidden;
  z-index: 0;
  animation-name: slidein;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

#hero::after {
  position: absolute;
  bottom: -25%;
  right: 5%;
  content: "";
  display: block;
  transform: rotate(30deg);
  background-color: #66CD00;
  height: 800px;
  width: 800px;
  border-radius: 1000px;
  overflow: hidden;
  transform: translateX(50%);

  z-index: 0;
  animation-name: slidein-right;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}
.main-logo-text {
}
html, body, #root {
  width: 100%;
  height: 100%;
}

.SplitPane {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.SplitPane h1 {
  font-size: calc(18px + 2vmin);

}

.SplitPane-left {
  display: block;
  flex-basis: 40%;
  position: relative;
}

.SplitPane-right {
  display: block;
  flex-basis: 60%;
  position: relative;
}

.hero-text {
  margin-top: 6rem;
}

.hero-text p {
  font-size: 1.2rem;

}
.makeStyles-root-1 {
  position: absolute;
  right: 5%;
  top: 5%;
}

.calculator {
  background: #fff;
  color: #000;
  height: 500px;
  border-radius: 10px;
  margin: 6rem;
  padding: 2rem;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.1), 0 8px 16px -8px rgba(0,0,0,.005), 0 -6px 16px -6px rgba(0,0,0,.005);
  position: relative;
}

#cards {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  background-color: #fff;
  position: relative;
}
#cards:before {
  content:"Дали знаевте дека";
  font-size: 3rem;
  position: absolute;
  color: #66CD00;
  font-weight: 700;
  top: 5%;
}

.card {
  flex: 1;
  border-radius: 10px;
  margin: 2rem; 
  background-color: #f9f9f9;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.1), 0 8px 16px -8px rgba(0,0,0,.005), 0 -6px 16px -6px rgba(0,0,0,.005)
}

.row {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  background-color: #fff;
}

.legend-item {
  flex: 1;
  border-radius: 10px;
  margin: 2rem; 
  background-color: #f9f9f9;
}

.card_header {
  background-color: #f9f9f9;
  padding: 1rem 2rem 1rem 2rem;
  display: block;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card_header h4 {
  margin: 0 auto;
}
.card_header::after {
  content: "";
  display: block;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 1rem;
  position: absolute;
  background-image: url('../../assets/images/info-icon.png');
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}
.card_body {
  background-color: #fcfcfc;
  padding: 1rem 2rem 2rem 2rem;
  min-height: 300px;
  display: block;
  height: 100%;
}
#first {
  background-image: url('../../assets/images/1.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
#first::after {
  position: absolute;
  bottom: -10%;
  left: 0;
  content: "прв чекор";
}
#second {
  background-image: url('../../assets/images/2.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
#second::after {
  position: absolute;
  bottom: -10%;
  left: 0;
  content: "прв чекор";
}
#third {
  background-image: url('../../assets/images/2.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
#third::after {
  position: absolute;
  bottom: -10%;
  left: 0;
  content: "прв чекор";
}

#steps {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  background: #F6F9FC;
  position: relative;
}
#steps::after {
  content: "";
  display: block;
  width: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
  height: 10px;
  background: rgb(0,205,51);
background: -moz-linear-gradient(45deg, rgba(0,205,51,1) 0%, rgba(0,205,141,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(0,205,51,1) 0%, rgba(0,205,141,1) 100%);
background: linear-gradient(45deg, rgba(0,205,51,1) 0%, rgba(0,205,141,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00cd33",endColorstr="#00cd8d",GradientType=1);
}
.react-reveal {
  flex: 1;
}
.step {
  flex: 1;
  margin: 2rem;
  border-radius: 5px;
  padding: 1rem 2rem 2rem 2rem;
  min-height: 400px;
}


.mapi {
  width: 100%;
  height: 60%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
#mapa {
  background: #fff;
  position: relative;
  align-items: center;
  padding-top: 4rem;
  justify-content: flex-start;
}
.main-logo {
  display: block;
  width: 100px;
  position: relative;
  float: left;
}
#contact {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  position: relative;
}
#contact div {
  flex: 3;
}
#contact div:last-child {
  flex: 1;
}
#mapa::before {
  content: "";
  display: block;
  width: 100%;
  left: 0 %;
  position: absolute;
  top: 0;
  height: 10px;
  background: rgb(0,205,51);
background: -moz-linear-gradient(45deg, rgba(0,205,51,1) 0%, rgba(0,205,141,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(0,205,51,1) 0%, rgba(0,205,141,1) 100%);
background: linear-gradient(45deg, rgba(0,205,51,1) 0%, rgba(0,205,141,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00cd33",endColorstr="#00cd8d",GradientType=1);
}
#mapa::after {
  content: "";
  display: block;
  width: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
  height: 10px;
  background: rgb(0,205,51);
background: -moz-linear-gradient(45deg, rgba(0,205,51,1) 0%, rgba(0,205,141,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(0,205,51,1) 0%, rgba(0,205,141,1) 100%);
background: linear-gradient(45deg, rgba(0,205,51,1) 0%, rgba(0,205,141,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00cd33",endColorstr="#00cd8d",GradientType=1);
}