.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
#hero {
  background-color: #66CD00;
  color: #fff;
}

.App-link {
  color: #09d3ac;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

.SplitPane {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.SplitPane h1 {
  font-size: calc(18px + 2vmin);

}

.SplitPane-left {
  display: block;
  flex-basis: 40%;
}

.SplitPane-right {
  display: block;
  flex-basis: 60%;
  position: relative;
}
.hero-text {
  margin-top: 6rem;
}
.hero-text p {
  font-size: 1.2rem;

}
.calculator {
  background: #fff;
  color: #000;
  height: 500px;
  border-radius: 15px;
  margin: 6rem;
  padding: 2rem;
}

.Contacts {
  width: 100%;
  height: 100%; 
  background: lightblue;
}

.Chat {
  width: 100%;
  height: 100%; 
  background: pink;
}
